{{#if products}}
<div class="row">
	{{#each products}}
	<div class="col-md-4">
		<div class="product-item">
			<div class="product-thumb">
				{{#if this.hasBage}}
				<span class="bage">Sale</span>
				{{/if}}
				<img class="img-responsive" src="/static/images/shop/products/product-{{{this.id}}}.jpg"
					alt="product-img" />
				<div class="preview-meta">
					<ul>
						<li>
							<span data-toggle="modal" data-target="#product-modal">
								<i class="tf-ion-ios-search"></i>
							</span>
						</li>
						<li>
							<a href="#"><i class="tf-ion-ios-heart"></i></a>
						</li>
						<li>
							<a href="#"><i class="tf-ion-android-cart"></i></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="product-content">
				<h4><a href="/product/detail">{{this.name}}</a></h4>
				<p class="price">{{this.price}} dong</p>
			</div>
		</div>
	</div>
	{{/each}}

</div>
{{else}}
	<h2>Khong co mon nao hang nao</h2>
{{/if}}