<section class="user-dashboard page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline dashboard-menu text-center">
                    <li><a href="/user/history">Lịch sử mua hàng</a></li>
                    <li><a class="active" href="/user/address">Địa chỉ giao hàng</a></li>
                    <li><a href="/user/profile">Thông tin cá nhân</a></li>
                    <li><a href="/user/changePass">Thay đổi mật khẩu</a></li>
                </ul>
                <div class="dashboard-wrapper user-dashboard">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="col-md-3 col-sm-3">Họ tên</th>
                                    <th class="">Địa chỉ</th>
                                    <th class="col-md-3 col-sm-3">Điện thoại</th>
                                    <th class="col-md-2 col-sm-3"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each shippingAddress}}
                                <tr>
                                    <td>{{name}}</td>
                                    <td>{{address}}</td>
                                    <td>{{phone}}</td>
                                    <td>
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-default"><i class="tf-pencil2"
                                                    aria-hidden="true"></i></button>
                                            <button type="button" class="btn btn-default"><i class="tf-ion-close"
                                                    aria-hidden="true"></i></button>
                                        </div>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
