<section class="user-dashboard page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline dashboard-menu text-center">
                    <li><a class="active" href="/user/history">Lịch sử mua hàng</a></li>
                    <li><a href="/user/address">Địa chỉ giao hàng</a></li>
                    <li><a href="/user/profile">Thông tin cá nhân</a></li>
                    <li><a href="/user/changePass">Thay đổi mật khẩu</a></li>
                </ul>
                <div class="dashboard-wrapper user-dashboard">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Mã đơn hàng</th>
                                    <th>Thời gian</th>
                                    <th>Thành tiền</th>
                                    <th>Trạng thái</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each order}}
                                <tr>
                                    <td>#{{this.id}}</td>
                                    <td>{{this.date}}</td>
                                    <td>{{this.totalPrice}} đồng</td>
                                    <td>{{{createStatusLabel this.status}}}</td>
                                    <td><a href="#" class="btn btn-default">Xem chi tiết</a></td>
                                </tr>
                                {{/each}}
                                
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
