<section class="user-dashboard page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline dashboard-menu text-center">
                    <li><a class="active" href="/dashboard/history">Lịch sử mua hàng</a></li>
                    <li><a href="/dashboard/address">Địa chỉ giao hàng</a></li>
                    <li><a href="/dashboard/profile">Thông tin cá nhân</a></li>
                    <li><a href="/dashboard/changePass">Thay đổi mật khẩu</a></li>
                </ul>
                <div class="dashboard-wrapper user-dashboard">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Mã đơn hàng</th>
                                    <th>Thời gian</th>
                                    <th>Số lượng</th>
                                    <th>Thành tiền</th>
                                    <th>Trạng thái</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>#451231</td>
                                    <td>Mar 25, 2016</td>
                                    <td>2</td>
                                    <td>$99.00</td>
                                    <td><span class="label label-primary">Processing</span></td>
                                    <td><a href="#" class="btn btn-default">View</a></td>
                                </tr>
                                <tr>
                                    <td>#451231</td>
                                    <td>Mar 25, 2016</td>
                                    <td>3</td>
                                    <td>$150.00</td>
                                    <td><span class="label label-success">Completed</span></td>
                                    <td><a href="#" class="btn btn-default">View</a></td>
                                </tr>
                                <tr>
                                    <td>#451231</td>
                                    <td>Mar 25, 2016</td>
                                    <td>3</td>
                                    <td>$150.00</td>
                                    <td><span class="label label-danger">Canceled</span></td>
                                    <td><a href="#" class="btn btn-default">View</a></td>
                                </tr>
                                <tr>
                                    <td>#451231</td>
                                    <td>Mar 25, 2016</td>
                                    <td>2</td>
                                    <td>$99.00</td>
                                    <td><span class="label label-info">On Hold</span></td>
                                    <td><a href="#" class="btn btn-default">View</a></td>
                                </tr>
                                <tr>
                                    <td>#451231</td>
                                    <td>Mar 25, 2016</td>
                                    <td>3</td>
                                    <td>$150.00</td>
                                    <td><span class="label label-warning">Pending</span></td>
                                    <td><a href="#" class="btn btn-default">View</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
