<section class="user-dashboard page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline dashboard-menu text-center">
                    <li><a href="/dashboard/history">Lịch sử mua hàng</a></li>
                    <li><a href="/dashboard/address">Địa chỉ giao hàng</a></li>
                    <li><a class="active" href="/dashboard/profile">Thông tin cá nhân</a></li>
                </ul>
                <div class="dashboard-wrapper dashboard-user-profile">
                    <div class="media">
                        <div class="pull-left text-center" href="#">
                            <img class="media-object user-img" src="/static/images/avatar.jpg" alt="Image">
                            <a href="#x" class="btn btn-transparent mt-20">Thay đổi ảnh đại diện</a>
                        </div>
                        <div class="media-body">
                            <form method="POST" class="checkout-form">
                                <div class="form-group">
                                    <label for="full_name">Họ và tên</label>
                                    <input name="full_name" type="text" class="form-control" id="full_name" placeholder=""
                                        value={{fullname}}>
                                </div>
                                <div class="form-group">
                                    <label for="user_address">Địa chỉ</label>
                                    <input name="user_address" type="text" class="form-control" id="user_address" placeholder=""
                                        value="227 Đường Nguyễn Văn Cừ, Phường 4, Quận 5, Hồ Chí Minh">
                                </div>
                                <div class="form-group">
                                    <label for="phone_number">Số điện thoại</label>
                                    <input name="phone_number" type="tel" class="form-control" id="phone_number" placeholder=""
                                        value={{phone}}>
                                </div>
                             <!-- <a href="#" class="btn btn-main mt-20">Lưu và sửa đổi</a> -->
                             <button type="submit" class="btn btn-main text-center">Lưu và sửa đổi</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
