<section class="signin-page account">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="block text-center">
          <h2 class="text-center">Tao tai khoan</h2>
          <form class="text-left clearfix" action="#">
            <div class="form-group">
              <input type="text" class="form-control"  placeholder="Ho">
            </div>
            <div class="form-group">
              <input type="text" class="form-control"  placeholder="Ten">
            </div>
            <div class="form-group">
              <input type="text" class="form-control"  placeholder="Tai tai khoan">
            </div>
            <div class="form-group">
              <input type="email" class="form-control"  placeholder="Email">
            </div>
            <div class="form-group">
              <input type="password" class="form-control"  placeholder="Mat khau">
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-main text-center">Dang ky</button>
            </div>
          </form>
          <p class="mt-20">Da co tai khoan ?<a href="/user/login"> <u>Dang nhap</u></a></p>
          <p><a href="/user/forget-password"> <u>Quen mat khau</u></a></p>
        </div>
      </div>
    </div>
  </div>
</section>