<section class="forget-password-page account">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="block text-center">
          <h2 class="text-center">Reset mật khẩu</h2>
          <form method='POST' class="text-left clearfix">
            <div class="form-group">
              <input name="email" type="password" class="form-control" id="exampleInputEmail1" placeholder="Nhập mật khẩu mới">
            </div>
            <div class="form-group">
              <input name="email" type="password" class="form-control" id="exampleInputEmail1" placeholder="Xác nhận lại mật khẩu">
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-main text-center">Làm mới mật khẩu</button>
            </div>
          </form>
          <p class="mt-20"><a href="/user/login"><u>Trở về đăng nhập</u></a></p>
        </div>
      </div>
    </div>
  </div>
</section>