<!-- Page Wrapper -->
<section class="page-wrapper success-msg">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="block text-center">
        	<i class="tf-ion-android-checkmark-circle"></i>
          <h2 class="text-center">Đặt hàng thành công!</h2>
          <p> Cảm ơn quý khách dã tin tưởng chúng tôi</p>
          <a href="/product/list" class="btn btn-main mt-20">Mua thêm</a>
        </div>
      </div>
    </div>
  </div>
</section><!-- /.page-warpper -->
