<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <h1 class="page-name">Thanh toán</h1>
                    <ol class="breadcrumb">
                        <li><a href="/">Trang chủ</a></li>
                        <li class="active">Thanh toán</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="page-wrapper">
    <div class="checkout shopping">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="block billing-details">
                        <h4 class="widget-title">Chi tiết hóa đơn</h4>
                        <form class="checkout-form">
                            <div class="form-group">
                                <label for="full_name">Họ và tên</label>
                                <input type="text" class="form-control" id="full_name" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="user_address">Địa chỉ</label>
                                <input type="text" class="form-control" id="user_address" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="phone_number">Số điện thoại</label>
                                <input type="number" class="form-control" id="phone_number" placeholder="">
                            </div>
                        </form>
                    </div>
                    <div class="block">
                        <h4 class="widget-title">Phương thức thanh toán</h4>
                        <p>Thanh toán bằng thẻ tín dụng</p>
                        <div class="checkout-product-details">
                            <div class="payment">
                                <div class="card-details">
                                    <form class="checkout-form">
                                        <div class="form-group">
                                            <label for="card-number">Số thẻ <span class="required">*</span></label>
                                            <input id="card-number" class="form-control" type="tel"
                                                placeholder="•••• •••• •••• ••••">
                                        </div>
                                        <div class="form-group half-width padding-right">
                                            <label for="card-expiry">Hết hạn (MM/YY) <span
                                                    class="required">*</span></label>
                                            <input id="card-expiry" class="form-control" type="tel"
                                                placeholder="MM / YY">
                                        </div>
                                        <div class="form-group half-width padding-left">
                                            <label for="card-cvc">Mã thẻ <span class="required">*</span></label>
                                            <input id="card-cvc" class="form-control" type="tel" maxlength="4"
                                                placeholder="CVC">
                                        </div>
                                        <a href="#" class="btn btn-main mt-20">Xác nhận đặt hàng</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="product-checkout-details">
                        <div class="block">
                            <h4 class="widget-title">Thông tin đơn hàng</h4>
                            <div class="media product-card">
                                {{!-- TODO: edit detail page --}}
                                <a class="pull-left" href="/product/list">
                                    <img class="media-object" src="/static/images/cart-1.jpg" alt="Image" />
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="/product/list">Kính nam</a>
                                    </h4>
                                    <p class="price">1 x 200000 đồng</p>
                                    <span class="remove">Xóa</span>
                                </div>
                            </div>
                            <div class="discount-code">
                                <p>Có mã giảm giá ? <a data-toggle="modal" data-target="#coupon-modal" href=""> Nhap vao day</a></p>
                            </div>
                            <ul class="summary-prices">
                                <li>
                                    <span>Tổng cộng:</span>
                                    <span class="price">1950000 đồng</span>
                                </li>
                                <li>
                                    <span>Phí giao hàng:</span>
                                    <span>Miễn phí</span>
                                </li>
                            </ul>
                            <div class="summary-total">
                                <span>Thành tiền</span>
                                <span>195000 đồng</span>
                            </div>
                            <div class="verified-icon">
                                <img src="/static/images/verified.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="coupon-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Enter Coupon Code">
                    </div>
                    <button type="submit" class="btn btn-main">Apply Coupon</button>
                </form>
            </div>
        </div>
    </div>
</div>
