<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <h1 class="page-name">Thanh toan</h1>
                    <ol class="breadcrumb">
                        <li><a href="/">Trang chu</a></li>
                        <li class="active">Thanh toan</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="page-wrapper">
    <div class="checkout shopping">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="block billing-details">
                        <h4 class="widget-title">Chi tiet hoa don</h4>
                        <form class="checkout-form">
                            <div class="form-group">
                                <label for="full_name">Ho va ten</label>
                                <input type="text" class="form-control" id="full_name" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="user_address">Dia chi</label>
                                <input type="text" class="form-control" id="user_address" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="phone_number">So dien thoai</label>
                                <input type="number" class="form-control" id="phone_number" placeholder="">
                            </div>
                        </form>
                    </div>
                    <div class="block">
                        <h4 class="widget-title">Phuong thuc thanh toan</h4>
                        <p>Thanh toan bang the tin dung</p>
                        <div class="checkout-product-details">
                            <div class="payment">
                                <div class="card-details">
                                    <form class="checkout-form">
                                        <div class="form-group">
                                            <label for="card-number">Card Number <span class="required">*</span></label>
                                            <input id="card-number" class="form-control" type="tel"
                                                placeholder="•••• •••• •••• ••••">
                                        </div>
                                        <div class="form-group half-width padding-right">
                                            <label for="card-expiry">Expiry (MM/YY) <span
                                                    class="required">*</span></label>
                                            <input id="card-expiry" class="form-control" type="tel"
                                                placeholder="MM / YY">
                                        </div>
                                        <div class="form-group half-width padding-left">
                                            <label for="card-cvc">Card Code <span class="required">*</span></label>
                                            <input id="card-cvc" class="form-control" type="tel" maxlength="4"
                                                placeholder="CVC">
                                        </div>
                                        <a href="#" class="btn btn-main mt-20">Xac nhan dat hang</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="product-checkout-details">
                        <div class="block">
                            <h4 class="widget-title">Thong tin don hang</h4>
                            <div class="media product-card">
                                <a class="pull-left" href="/product/detail">
                                    <img class="media-object" src="/static/images/shop/cart-1.jpg" alt="Image" />
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="/product/detail">Kinh nam</a>
                                    </h4>
                                    <p class="price">1 x 200000 dong</p>
                                    <span class="remove">Xoa</span>
                                </div>
                            </div>
                            <div class="discount-code">
                                <p>Co ma giam gia ? <a data-toggle="modal" data-target="#coupon-modal" href=""> Nhap vao day</a></p>
                            </div>
                            <ul class="summary-prices">
                                <li>
                                    <span>Tong cong:</span>
                                    <span class="price">1950000 dong</span>
                                </li>
                                <li>
                                    <span>Phi giao hang:</span>
                                    <span>Mien phi</span>
                                </li>
                            </ul>
                            <div class="summary-total">
                                <span>Thanh tien</span>
                                <span>195000 dong</span>
                            </div>
                            <div class="verified-icon">
                                <img src="/static/images/shop/verified.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="coupon-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Enter Coupon Code">
                    </div>
                    <button type="submit" class="btn btn-main">Apply Coupon</button>
                </form>
            </div>
        </div>
    </div>
</div>