<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <h1 class="page-name">Chính sách cửa hàng</h1>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="typography page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Đổi trả thoải mái </h1>
                <hr>
                <h2>Đổi trả khi sản phẩm hư hỏng</h1>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur aliquid beatae molestiae tenetur
                officiis fuga exercitationem rerum, quasi a, laborum quisquam excepturi dolorem asperiores cum.
                <h1 class="text-center mt-20">Miễn phí giao hàng</h1>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore fugiat voluptas accusamus!
                    Perspiciatis quam quisquam iste id officiis quia commodi quibusdam sapiente molestiae! Aliquam
                    tempore ad quis, culpa sit ullam quam inventore voluptatum necessitatibus numquam! Tempora nobis
                    iure cupiditate excepturi aliquid earum ratione dignissimos, a consequatur odio quo aut rem
                    voluptatem quam repellat sint, eligendi facilis maiores unde, soluta quos, veritatis sit. Dolore
                    deleniti dolorum repellendus dolorem cum, unde architecto consectetur odit rem eveniet, accusantium
                    omnis suscipit totam quibusdam officiis blanditiis molestiae! Totam ipsam temporibus aspernatur
                    praesentium quam, laboriosam ipsa rem. Maxime repudiandae molestias in consequuntur sint, dicta?
                    Temporibus, fugiat!</p>
                <h1 class="text-center mt-20">Châm ngôn của shop</h1>
                <hr>
                <BLOCKQUOTE>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae rem ut veritatis quisquam doloribus
                    nam excepturi, deserunt odit, aut. Possimus blanditiis culpa natus eius non molestias nihil
                    praesentium, vel ullam dolorum qui, quibusdam minima placeat officiis quod dolorem perferendis dicta
                    harum ab obcaecati nemo! Quisquam, porro qui tempora, ducimus aspernatur vitae odit aliquid soluta
                    eius tenetur, atque minima error est officiis itaque nobis voluptate? Modi aliquid reiciendis
                    perspiciatis totam asperiores consequuntur sint molestias. Error quas quod voluptatem eligendi modi
                    asperiores ipsam nemo, obcaecati provident omnis nisi dolorem aliquam sapiente, quidem, porro quo id
                    fuga! Recusandae blanditiis aliquid repudiandae animi officia.
                </BLOCKQUOTE>

            </div>
        </div>
    </div>
</section>