<section class="alerts section">
	<div class="container">
		<div class="row">
			<div class="section-title text-center">
				<h2>Điều khoản dịch vụ</h2>
			</div>
		</div>
		<div class="row mt-30">
			<div class="col-xs-12">
	            <div class="alertPart">
		            <div class="alert alert-success alert-common" role="alert"><i class="tf-ion-thumbsup"></i> Mua sắm thoải mái</div>
		            <div class="alert alert-info alert-common" role="alert"><i class="tf-ion-android-checkbox-outline"></i> Chỉ bán online không có cửa hàng</div>
		            <div class="alert alert-warning alert-common" role="alert"><i class="tf-ion-alert-circled"></i> Cẩn thận các trang lừa đảo</div>
		            <div class="alert alert-danger alert-common" role="alert"><i class="tf-ion-close-circled"></i> Chỉ có 1 chi nhánh</div>
	            </div>
	           
	            
          	</div>		
		</div>
	</div>
</section>